/**
 *  @时间线
 *  @Author jixiangac
 *  @Email  jixiangac@gmail.com
 */
.timeline-wrap {
  font-size: 0;
  /* 所有浏览器 */
  *word-spacing: -1px;
  /* IE6、7 */
  height: 100px;
  position: relative;
  overflow: hidden;
}
.timeline-main {
  padding-top: 32px;
  position: absolute;
  left: 0;
  top: 0;
  width: 2000px;
}
.timeline-wrap .timeline-node,
.timeline-wrap .timeline-line,
.timeline-wrap .timeline-dot,
.timeline-wrap .timeline-omission {
  font-size: 12px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
}
.timeline-wrap .timeline-node {
  cursor: pointer;
}
.timeline-node,
.timeline-cur,
.timeline-cur-left,
.timeline-cur-right,
.timeline-line,
.timeline-dot,
.timeline-omission {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  width: 40px;
  height: 30px;
  /*overflow: hidden;*/
  background: url(http://gtms03.alicdn.com/tps/i3/T1QH5KFlJgXXbD2s7F-69-260.png) 0 0 no-repeat;
  position: relative;
}
.timeline-node a {
  font-size: 14px;
  font-weight: bold;
  color: #c4c4cc;
  position: absolute;
  bottom: 32px;
  left: 0;
  font-family: 'Arial';
  cursor: default;
}
.timeline-node a:hover {
  text-decoration: none;
}
.timeline-blue-dot a {
  color: #2275c3;
}
.timeline-cur a {
  color: #b10000;
}
.timeline-blue-node {
  background-position: 0 -40px;
}
.timeline-blue-node a {
  color: #258ace;
}
.timeline-omission {
  background-position: 0 -147px;
  width: 20px;
}
.timeline-line {
  background-position: 0 -120px;
  width: 16px;
}
.timeline-cur {
  background-position: 0 -81px;
}
.timeline-cur-left {
  background-position: 0 -189px;
}
.timeline-cur-right {
  background-position: 0 -223px;
}
.timeline-dot {
  background-position: 0 -120px;
  width: 33px;
}
.timeline-dot a {
  font-size: 14px;
  color: #999;
  position: absolute;
  bottom: 18px;
  left: 0;
  font-family: 'Arial';
  cursor: default;
}
.tip {
  height: 24px;
  line-height: 24px;
  text-align: center;
  background: #fff;
  border: 1px solid #c3c3c3;
  box-shadow: 0 0 5px #bebebe;
  position: absolute;
  top: 80px;
  left: -19px;
  color: #666;
  font-weight: bold;
  font-size: 12px;
  padding: 0 10px;
}
.tip .arrow-grey,
.tip .arrow {
  -webkit-backface-visibility: hidden;
  width: 0;
  height: 0;
  border-width: 8px;
  border-style: dashed dashed solid dashed;
  border-color: transparent transparent #c3c3c3 transparent;
  font-size: 0;
  line-height: 0;
  position: absolute;
  left: 50%;
  top: -16px;
  margin-left: -8px;
}
/*当前时间*/
.tip .arrow {
  border-color: transparent transparent #fff transparent;
  top: -7px;
}
.tip-cur {
  border-color: #dfa8a8;
  box-shadow: 0 0 5px #dfa8a8;
  color: #b10000;
  left: 37px;
}
.tip-cur .arrow-grey {
  border-color: transparent transparent #dfa8a8 transparent;
}
